body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/034/456/187/non_2x/landscape-illustration-nature-landscape-background-wall-art-foliage-line-art-drawing-with-abstract-shape-plant-art-design-for-print-cover-wallpaper-minimal-and-natural-wall-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;
  font-family: comfortaa;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  font-size: 25px;
  margin-right: 50px;
  color: white;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(151, 167, 151);
  height: 100px;
}

.logo {
  height: 80px;
  margin-left: 24px;
  filter: brightness(70%) drop-shadow(4px 2px 2px rgb(79, 94, 79));
}

.login {
  color: white;
  font-family:  comfortaa;
  font-size: 25px;
  background-color: transparent;
  border-color: white;
  height: 50px;
  border-style: solid;
  width: 150px;
}

.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(151, 167, 151);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.welcome-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;

    background-color: rgb(151, 167, 151);
    border-radius: 10px;
    height: 400px;
    width: 800px;
}

.welcome-info {
  font-size: 20px;
  width: 473px;
  text-align: center;
  color: rgb(65, 65, 65);
}